<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homes Template">
    <meta name="keywords" content="Homes, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Places</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $.get('html/header.html', function(data) {
            var h = document.getElementsByClassName("header-section");
            h[0].innerHTML = data;
        }, 'text');
    </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
    </header>
    <!-- Header Section End -->
    <!-- Filter Search Section Begin -->
    <div class="filter-search">
        <div class="container ">
            <div class="row" >
                <div class="col-lg-12">
                    <div class="filter-form" style="margin-top:100px; background-color:rgba(148, 124, 176, 0.5)">
                        <div class="location" style="padding:20px 17px 29px !important">
                            <p style="color: black; font-weight:800">Name</p>
                            <input type="text" name="Name" id="name" placeholder="Casa da Mata"
                                style="background: transparent; border-right: none; border-top: none; border-left: none;"\>
                        </div>
                        <div class="location" style="padding:20px 17px 29px !important">
                            <p style="color: black; font-weight:800">Location</p>
                            <input type="text" name="Location" id="location" placeholder="Aveiro"
                                style="background: transparent; border-right: none; border-top: none; border-left: none;"\>
                        </div>
                        <div class="price-range">
                            <p style="color: black; font-weight:800">Price Per Night</p>
                            <div class="range-slider">
                                <div id="slider-range" style="border: 1px solid gray !important">
                                    <div tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default slider-left" id="min_price">100$</div>
                                    <div tabindex="0"
                                        class="ui-slider-handle ui-corner-all ui-state-default slider-right" id="max_price">500$</div>
                                </div>
                            </div>
                        </div>
                        <div class="price-range" style="width:17% !important">
                                <p style="color: black; font-weight:800">Rooms</p>
                                <div class="range-slider">
                                    <div id="slider-range-bedrooms" style="border: 1px solid gray !important">
                                        <div tabindex="0"
                                            class="ui-slider-handle ui-corner-all ui-state-default slider-left" style="left: 0%; width:25px; text-align:center" id="min_rooms">1</div>
                                        <div tabindex="0"
                                            class="ui-slider-handle ui-corner-all ui-state-default slider-right" style="left: 0%; width:25px; text-align:center" id="max_rooms">6</div>
                                    </div>
                                </div>
                            </div>
                        <div class="search-btn">
                            <button onclick="postSearch()" type="submit" style="width: 100%"><i class="flaticon-search"></i>Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Filter Search Section End -->
    <!-- Hotel Room Section Begin -->
    <section class="hotel-rooms spad">
        <div class="container">
            <div th:if="${has_elements}" class="row" id=housesRow>

                <th:block th:each="i: ${#numbers.sequence(0, #lists.size(houses) - 1)}">
                    <div class="col-lg-4 col-md-4 col-md-6">
                        <div class="room-items">
                            <div th:attr="data-setbg=${houses[i].photos[0].photo}" class="room-img set-bg" data-setbg="img/rooms/6.jpg">
                                <a href="#" class="room-content">
                                    <i class="flaticon-heart"></i>
                                </a>
                            </div>
                            <div class="room-text">
                                <div class="room-details">
                                    <div class="room-title">
                                        <h5 th:text="${houses[i].name}"></h5>
                                        <i class="flaticon-placeholder"></i> <span th:text="${houses[i].address}"></span>
                                        
                                    </div>
                                </div>
                                <div class="room-features">
                                    <div class="room-info">
                                        <div class="size">
                                            <p>Lot Size</p>
                                            <img src="img/rooms/size.png" alt="">
                                            <i class="flaticon-bath"></i>
                                            <span th:text="${houses[i].habSpace}"></span> <span>sqft</span>
                                        </div>
                                        <div class="beds">
                                            <p>Rooms</p>
                                            <img src="img/rooms/bed.png" alt="">
                                            <span th:text="${houses[i].nRooms}"></span>
                                        </div>
                                        <div class="baths">
                                            <p>Baths</p>
                                            <img src="img/rooms/bath.png" alt="">
                                            <span th:text="${houses[i].nBathrooms}"></span>
                                        </div>
                                        <div class="garage">
                                            <p>Garage</p>
                                            <img src="img/rooms/garage.png" alt="">
                                            <span th:text="${houses[i].garage}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="room-price">
                                    <p>Price Per Month</p>
                                    <span>$</span><span th:text="${houses[i].price}"></span>
                                </div>
                                <a th:href="${'/getProperty?id='+ houses[i].houseId}" class="site-btn btn-line">View Property</a>
                            </div>
                        </div>
                    </div>
            </th:block>
            </div>
        </div>
    </section>
    <!-- Hotel Room Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section p-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center sp-60">
                    <img src="img/only-logo.png" alt="">
                </div>
            </div>
            <div class="row p-37">
                <div class="col-lg-4">
                    <div class="about-footer">
                        <h5>About Homes</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend tristique venenatis.
                            Maecenas a rutrum tellus nam vel semper nibh.</p>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-blog">
                        <h5>Latest Blog Posts</h5>

                        <div class="single-blog">
                            <div class="lt-side">
                                <img src="img/footer-blog-1.jpg" alt="">
                            </div>
                            <div class="rt-side">
                                <h6>How to find the perfect area for<br> your next house.</h6>
                                <div class="blog-time">
                                    <i class="flaticon-clock"></i>
                                    <span>5 min</span>
                                </div>
                                <a href="#" class="read-more">
                                    <i class="flaticon-right-arrow-1"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="lt-side">
                                <img src="img/footer-blog-2.jpg" alt="">
                            </div>
                            <div class="rt-side">
                                <h6>How to find the perfect area for<br> your next house.</h6>
                                <div class="blog-time">
                                    <i class="flaticon-clock"></i>
                                    <span>5 min</span>
                                </div>
                                <a href="#" class="read-more">
                                    <i class="flaticon-right-arrow-1"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-address">
                        <h5>Get In Touch</h5>
                        <ul>
                            <li><i class="flaticon-placeholder"></i><span>132 Liberty Streetelit, Plano, Texas</span>
                            </li>
                            <li><i class="flaticon-envelope"></i><span>hello@home.com</span></li>
                            <li><i class="flaticon-smartphone"></i><span>214-805-4428</span></li>
                        </ul>
                        <p>Monday – Friday: 9 am – 5 pm</p>
                        <p>Saturday: 9 am – 1pm</p>
                    </div>
                </div>
            </div>

            <div class="row p-20">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/main.js"></script>
    <script src="js/searchProperties.js"></script>
</body>

</html>