<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homes Template">
    <meta name="keywords" content="Homes, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cloud Places - My Properties</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        var photosBase64 = new Array();

        $.get('html/header.html', function(data) {
            var h = document.getElementsByClassName("header-section");
            h[0].innerHTML = data;
        }, 'text');

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    photosBase64.push({photo: e.target.result});
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function editProperty() {
            var userEmail = document.getElementById("userEmail").innerHTML;

            $.get("/api/get_user?email=" + userEmail, function(data, status) {
                var property = JSON.stringify({ user: data, name: document.forms["editPropertyForm"]["name"].value, address: document.forms["editPropertyForm"]["address"].value, price: document.forms["editPropertyForm"]["price"].value, nRooms: document.forms["editPropertyForm"]["n_rooms"].value, habSpace: document.forms["editPropertyForm"]["hab_space"].value, nBathrooms: document.forms["editPropertyForm"]["n_bathrooms"].value, garage: document.forms["editPropertyForm"]["garage"].value, description: document.forms["editPropertyForm"]["description"].value, propertyFeatures: document.forms["editPropertyForm"]["property_features"].value, availability: document.forms["editPropertyForm"]["availability"].value, photos: photosBase64 });

                $.ajax({
                    url: '/editProperty',
                    type: 'PUT',
                    data: property,
                    processData: false,
                    contentType: 'application/json'
                })
            })
        }

        function removeProperty(propertyName) {
            $.ajax({
                url: '/removeProperty?name=' + propertyName,
                type: 'DELETE',
                processData: false
            })

            location.reload();
        }
    </script>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg search-result" data-setbg="img/bg.jpg">
        <div class="container hero-text text-white">
            <h2></h2>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Hotel Room Section Begin -->
    <section class="hotel-rooms spad">
        <div class="container">
            <div th:if="${#lists.size(houses) > 0}" class="row">
                <th:block th:each="i: ${#numbers.sequence(0, #lists.size(houses) - 1)}">
                    <div class="col-lg-4 col-md-4 col-md-6">
                        <div class="room-items">
                            <div th:attr="data-setbg=${houses[i].photos[0].photo}" class="room-img set-bg">
                            </div>
                            <div class="room-text">
                                <div class="room-details">
                                    <div class="room-title">
                                        <h5 th:text="${houses[i].name}"></h5>
                                        <i class="flaticon-placeholder"></i><span th:text="${houses[i].address}"></span>
                                    </div>
                                </div>
                                <a id="removeButton" class="site-btn btn-line col-lg-4 col-md-4 col-sm-4" th:attr="onclick=|removeProperty('${houses[i].name}')|" >Remove</a>
                                <a id="editButton" class="site-btn btn-line col-lg-4 col-md-4 col-sm-4" data-toggle="modal" th:href="|#editPropertyModal${houses[i].houseId}|">Edit</a>
                                <a th:href="${'/getProperty?id='+ houses[i].houseId}" class="site-btn btn-line col-lg-12 col-md-12 col-sm-12">View Property</a>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" th:id="|editPropertyModal${houses[i].houseId}|" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit Property</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5 id="userEmail" th:text="${userEmail}"></h5>
                                    <form id="editPropertyForm" th:object="${houses[i]}" name="editPropertyForm">
                                        <div class="form-row">
                                            <div class="col-md-12 mb-3">
                                                <label for="name">Property Name</label>
                                                <input type="text" class="form-control" id="name" th:value="${houses[i].name}" name="name" placeholder="Property Name" disabled="disabled" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="address">Property Address</label>
                                                <input type="text" class="form-control" id="address" th:value="${houses[i].address}" name="address" placeholder="Property Address" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="price">Price</label>
                                                <input type="number" min=0 class="form-control" id="price" th:value="${houses[i].price}" name="price" placeholder="Price" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="n_rooms">Number of Rooms</label>
                                                <input type="number" min=0 class="form-control" id="n_rooms" th:value="${houses[i].nRooms}" name="nRooms" placeholder="Number of Rooms" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="hab_space">Habitation Space</label>
                                                <input type="number" min=0 class="form-control" id="hab_space" th:value="${houses[i].habSpace}" name="habSpace" placeholder="Habitation Space" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="n_bathrooms">Number of Bathrooms</label>
                                                <input type="number" min=0 class="form-control" id="n_bathrooms" th:value="${houses[i].nBathrooms}" name="nBathrooms" placeholder="Number of Bathrooms" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="garage">Garage</label>
                                                <input type="number" min=0 class="form-control" id="garage" th:value="${houses[i].garage}" name="garage" placeholder="Garage" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="description">Description</label>
                                                <input type="text" class="form-control" id="description" th:value="${houses[i].description}" name="description" placeholder="Description" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="property_features">Property Features</label>
                                                <input type="text" class="form-control" id="property_features" th:value="${houses[i].propertyFeatures}" name="propertyFeatures" placeholder="Property Features" required>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label for="availability">Availability</label>
                                                <input type="number" min=0 max=1 class="form-control" id="availability" th:value="${houses[i].availability}" name="availability" placeholder="Availability" required>
                                            </div>
                                        </div>
                                        <div class="form-group">Photos
                                            <input type="file" class="form-control-file" id="photo1" onchange="readURL(this)">
                                            <input type="file" class="form-control-file" id="photo2" onchange="readURL(this)">
                                            <input type="file" class="form-control-file" id="photo3" onchange="readURL(this)">
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                                <label class="form-check-label" for="invalidCheck2">
                                                    Agree to terms and conditions
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" onclick="editProperty()">Submit</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
            <div id="noProperties" th:unless="${#lists.size(houses) > 0}" class="row">
                <h3>There are no properties to show!</h3>
            </div>
        </div>
    </section>
    <!-- Hotel Room Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section p-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center sp-60">
                    <img src="img/only-logo.png" alt="">
                </div>
            </div>
            <div class="row p-37">
                <div class="col-lg-4">
                    <div class="about-footer">
                        <h5>About Homes</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend tristique venenatis.
                            Maecenas a rutrum tellus nam vel semper nibh.</p>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-blog">
                        <h5>Latest Blog Posts</h5>

                        <div class="single-blog">
                            <div class="lt-side">
                                <img src="img/footer-blog-1.jpg" alt="">
                            </div>
                            <div class="rt-side">
                                <h6>How to find the perfect area for<br> your next house.</h6>
                                <div class="blog-time">
                                    <i class="flaticon-clock"></i>
                                    <span>5 min</span>
                                </div>
                                <a href="#" class="read-more">
                                    <i class="flaticon-right-arrow-1"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                        <div class="single-blog">
                            <div class="lt-side">
                                <img src="img/footer-blog-2.jpg" alt="">
                            </div>
                            <div class="rt-side">
                                <h6>How to find the perfect area for<br> your next house.</h6>
                                <div class="blog-time">
                                    <i class="flaticon-clock"></i>
                                    <span>5 min</span>
                                </div>
                                <a href="#" class="read-more">
                                    <i class="flaticon-right-arrow-1"></i>
                                    <span>Read More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-address">
                        <h5>Get In Touch</h5>
                        <ul>
                            <li><i class="flaticon-placeholder"></i><span>132 Liberty Streetelit, Plano, Texas</span>
                            </li>
                            <li><i class="flaticon-envelope"></i><span>hello@home.com</span></li>
                            <li><i class="flaticon-smartphone"></i><span>214-805-4428</span></li>
                        </ul>
                        <p>Monday – Friday: 9 am – 5 pm</p>
                        <p>Saturday: 9 am – 1pm</p>
                    </div>
                </div>
            </div>

            <div class="row p-20">
                <div class="col-lg-12 text-center">
                    <div class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Js Plugins -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/main.js"></script>
</body>

</html>